{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded"></div>
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-primary rounded btn-md">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>

            {% endif %}
        </div>

    </div>
    
</div>

<!--Footer-->
<footer class="bg-light text-lg-start">
    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
        <p>Follow us on social media</p>
        <a href="https://www.youtube.com" class="btn btn-primary m-1" role="button"
            rel="nofollow" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com" class="btn btn-primary m-1" role="button" rel="nofollow"
            target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com" class="btn btn-primary m-1" role="button" rel="nofollow"
            target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </div>

    <!-- Copyright -->
    <div class="text-center align-items-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright: JKCC1830
    </div>
    <div class="btt-button shadow-sm rounded border border-dark">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    <!-- Copyright -->
</footer>
<!--Footer-->
{% endblock %}

{% block postload_js %}

    {{ block.super }}

    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>

{% endblock %}