{% extends 'base.html' %}
{% load static %}

{% block page_header %}

    {% include 'includes/main.nav.html' %}

    {% include 'includes/mobile.nav.html' %}

    {% include 'includes/carousel.html' %}

{% endblock %}

{% block content %}
<div class="container mt-5">
    <!--Section: Content-->
    <section>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div>
                    <img src="/media/redhead-woman-midi-dress-heels-is-posing-pink-background-holding-glass-champagne_197531-14955.webp" class="img-fluid rounded"/>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <h4><strong>About Us</strong></h4>
                    <p class="text-muted justify-content-center">
                        JK Clothing is an online shop for everybody that wants to express their feelings and emotions by mix and matching clothes.
                        The owner belives that everyone has the right to wear what makes them comfortable and happy.
                    </p>
                    <p><strong>How to do this?</strong></p>
                    <p class="text-muted justify-content-center">
                        By simply exploring our online shop and choose whatever clothes you want to mix and match, to match your current mood.
                    </p>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}" class="btn btn-primary btn-sm text-uppercase py-3">View Products</a>
                        </h4>
                    </div>
            </div>
        </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="text-center">
        <h4 class="mb-5"><strong>Here's what you can do at JK Clothing</strong></h4>

        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                    <div>
                        <img src="/media/attractive-woman-with-shop-bag-pink-background_185193-72815.jpg" class="img-fluid rounded"/>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Shop Products</h5>
                        <p class="card-text">
                            In here you can shop all the products and put them in your basket ready to be delivered to your doorstep.
                        </p>
                        <a href="{% url 'products' %}" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div>
                        <img src="/media/shocked-two-women-friends-holding-shopping-bags-using-mobile-phone_171337-5718.webp" class="img-fluid rounded"/>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">View Clothing</h5>
                        <p class="card-text">
                            In here you can view all the clothing available in this shop for you to mix and match.
                        </p>
                        <a href="#!" class="btn btn-primary">View Clothing</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="/media/blond-pretty-woman-pink-shirt-jeans-smiling-jumping-pink-isolated-having-fun-holding-shopping-bags_285396-10526.webp" class="img-fluid rounded" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">View Special Offers</h5>
                        <p class="card-text">
                            In here you can check out all the special offers on this shop.
                            Huge discounts awaits.
                        </p>
                        <a href="#!" class="btn btn-primary">View Special Offers</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="mb-5">
        <h4 class="mb-5 text-center"><strong>No Account yet? No need to worry, sign up here!</strong></h4>

        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form1" class="form-control" />
                                <label class="form-label" for="form1">First name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form2" class="form-control" />
                                <label class="form-label" for="form2">Last name</label>
                            </div>
                        </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form3" class="form-control" />
                        <label class="form-label" for="form3">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="form4" class="form-control" />
                        <label class="form-label" for="form4">Password</label>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form5" checked />
                        <label class="form-check-label" for="form5">
                            Subscribe to our newsletter
                        </label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">
                        Sign up
                    </button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>or sign up with:</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-google"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--Section: Content-->
</div>

<!--Footer-->
<footer class="bg-light text-lg-start">
    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
        <p>Follow us on social media</p>
        <a href="https://www.youtube.com" class="btn btn-primary m-1" role="button"
            rel="nofollow" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com" class="btn btn-primary m-1" role="button" rel="nofollow"
            target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com" class="btn btn-primary m-1" role="button" rel="nofollow"
            target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </div>

    <!-- Copyright -->
    <div class="text-center align-items-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright: JKCC1830
    </div>
    <div class="btt-button shadow-sm rounded border border-dark">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    <!-- Copyright -->
</footer>
<!--Footer-->
{% endblock %}

{% block postload_js %}

    {{ block.super }}

    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>

{% endblock %}