{% extends 'base.html' %}
{% load static %}

{% block page_header %}

    {% include 'includes/main.nav.html' %}

    {% include 'includes/mobile.nav.html' %}

    {% include 'includes/carousel.html' %}

{% endblock %}

{% block content %}
<div class="container mt-5">
    <!--Section: Content-->
    <section>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="about-us img-fluid rounded">
                    
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <h4><strong>About Us</strong></h4>
                    <p class="text-muted justify-content-center">
                        JK Clothing is an online shop for everybody that wants to express their feelings and emotions by mix and matching clothes.
                        The owner belives that everyone has the right to wear what makes them comfortable and happy.
                    </p>
                    <p><strong>How to do this?</strong></p>
                    <p class="text-muted justify-content-center">
                        By simply exploring our online shop and choose whatever clothes you want to mix and match, to match your current mood.
                    </p>
                    <div class="mb-2">
                        <a href="{% url 'products' %}" class="btn btn-pink btn-sm text-uppercase py-2">View Products</a>
                    </div>
            </div>
        </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="text-center">
        <h4 class="mb-5"><strong>Here's what you can do at JK Clothing</strong></h4>

        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                    <div class="products-pic img-fluid rounded">
                        
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Shop Products</h5>
                        <p class="card-text">
                            In here you can view all the products and put them in your basket ready to be delivered to your doorstep.
                        </p>
                        <a href="{% url 'products' %}" class="btn btn-sm btn-pink">Shop Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="clothing-pic img-fluid rounded">
                        
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">View Clothing</h5>
                        <p class="card-text">
                            In here you can view all the clothing available in this shop for you to mix and match.
                        </p>
                        <a href="{% url 'products' %}?category=activewear,essentials,jeans,shirts" class="btn btn-sm btn-pink">View Clothing</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="sales-pic img-fluid rounded">
                        
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">View Special Offers</h5>
                        <p class="card-text">
                            In here you can check out all the special offers on this shop.
                            Huge discounts awaits.
                        </p>
                        <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-sm btn-pink">View Special Offers</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Content-->
</div>

<!--Footer-->
<footer class="bg-light text-lg-start">
    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
        <p>Follow us on social media</p>
        <a href="https://www.youtube.com/channel/UCLiV0Iwm1M5YZG2akZIg2pA" class="btn btn-sm btn-pink m-1" role="button"
            rel="nofollow" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com/Jk-clothing-104968605520769/" class="btn btn-sm btn-pink m-1" role="button" rel="nofollow"
            target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/JKClothing2022/" class="btn btn-sm btn-pink m-1" role="button" rel="nofollow"
            target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </div>

    <!-- Copyright -->
    <div class="text-center align-items-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright: JKCC1830
    </div>
    <div class="btt-button shadow-sm rounded border">
        <a class="btt-link btn-sm btn-pink d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
    <!-- Copyright -->
</footer>
<!--Footer-->
{% endblock %}

{% block postload_js %}

    {{ block.super }}

    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>

{% endblock %}