{% extends 'base.html' %}
{% load static %}

{% block page_header %}

{% include 'includes/product.nav.html' %}

{% include 'includes/mobile.nav.html' %}

{% endblock %}


{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Wishlist</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if wlist%}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        {% for wl in wlist %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% if wl.product.image %}
                                    <img class="img-fluid rounded" src="{{ wl.product.image.url }}" alt="{{ wl.product.name }}">
                                    {% else %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ wl.product.name }}">
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ wl.product.name }}</strong></p>
                                    <p class="my-0"><strong>Size: </strong>{% if wl.product.has_sizes %}{{ wl.size|upper }}{% else %}N/A{% endif %}</p>
                                    <p class="my-0 small text-muted">SKU: {{ wl.product.sku|upper }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">&euro;{{ wl.product.price }}</p>
                                </td>
                        
                                <td class="py-3">
                                    <input type="hidden" class="prod_id" value="{{wl.product_id}}">
                                    {% csrf_token %}
                                    <a href="{% url 'product_detail' wl.product.id %}" class="btn btn-pink btn-sm rounded">View product</a>
                                </td>
                                <td class="py-3">
                                    <input type="hidden">
                                    {% csrf_token %}
                                    <a href="" class="btn btn-pink btn-sm rounded">Delete from wishlist</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <a href="{% url 'products' %}" class="btn btn-pink rounded btn-sm">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Browse our products</span>
                    </a>
                </div>
            {% else %}
                <p class="lead mb-5">Your wishlist is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-pink rounded btn-sm">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Browse our products</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}

{% endblock %}

{% block postload_js %}

{{ block.super }}

<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })

    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

</script>


{% endblock %}