body {
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-black {
    color: #000 !important;
}

a.category-badge > span.badge:hover {
    background: rgb(222, 116, 134);
    color: #fff !important;
}

.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btn-pink {
    background: rgb(222, 116, 134);
    color: #fff;
}

.btn-pink:hover {
    color: #000;
}

.btt-link,
.update-total,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.carousel-item:nth-child(1) {
    background-image: url('/media/cheerful-caucasian-young-lady-rejoices-received-gift-holding-box-hands-pink-background-girl-with-black-curly-hair-wears-white-sweater-concept-celebration-happiness-emotions_197531-30177.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(2) {
    background-image: url('/media/cute-young-caucasian-girl-with-box-her-hands-anticipation-opening-it-indoors-brunette-with-curly-hair-white-sweater-birthday-concept_197531-30179.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(3) {
    background-image: url('/media/emotional-young-caucasian-woman-opens-box-with-unexpected-gift-keeps-mouth-open-curly-haired-brunette-with-loose-hair-sweater-positive-human-reactions-emotions_197531-30176.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


@media (min-width: 570px) {
    #introCarousel {
        margin-top: -58.59px;
    }
}

.navbar .nav-link {
    color: #fff !important;
}

.navbar:hover,
.nav-link:hover,
.navbar-brand:hover {
    color: #000 !important;
}