body {
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.carousel-item:nth-child(1) {
    background-image: url('/media/cheerful-caucasian-young-lady-rejoices-received-gift-holding-box-hands-pink-background-girl-with-black-curly-hair-wears-white-sweater-concept-celebration-happiness-emotions_197531-30177.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(2) {
    background-image: url('/media/cute-young-caucasian-girl-with-box-her-hands-anticipation-opening-it-indoors-brunette-with-curly-hair-white-sweater-birthday-concept_197531-30179.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(3) {
    background-image: url('/media/');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


@media (min-width: 570px) {
    #introCarousel {
        margin-top: -58.59px;
    }
}

.navbar .nav-link {
    color: #fff !important;
}