<div id="introCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-bs-target="#introCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#introCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#introCarousel" data-bs-slide-to="2"></li>
    </ol>

    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <div class="container">
                <div class="d-flex justify-content-left align-items-center">
                    <div class="col-8 col-md-6 my-auto carousel-caption text-start">
                        <h1 class="text-black">
                            The new collections are here
                        </h1>
                        <h4 class="text-white">Free delivery on orders over &euro;{{ free_delivery_threshold }}!</h4>
                        <a class="btn btn-pink" href="{% url 'products' %}">
                            <span class="icon"><i class='bx bxs-store bx-burst' ></i></span>
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
       

        <!-- Single item -->
        <div class="carousel-item">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="carousel-caption">
                        <h1 class="text-black">
                            Transforming fashion through creativity.
                        </h1>
                        <h4>Free delivery on orders over &euro;{{ free_delivery_threshold }}!</h4>
                        <a class="btn btn-pink" href="{% url 'products' %}">
                            <span class="icon"><i class='bx bx-search-alt bx-burst' ></i></span>
                            View All Products
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <div class="container">
                <div class="d-flex justify-content-right align-items-center">
                    <div class="carousel-caption text-end">
                        <h1 class="text-black">
                            Be Cre<strong>ART</strong>ive! Mix and match.
                        </h1>
                        <h4>Free delivery on orders over &euro;{{ free_delivery_threshold }}!</h4>
                        <a href="{% url 'products' %}?category=activewear,essentials,jeans,shirts" class="btn btn-pink">
                            <span class="icon"><i class='bx bxs-t-shirt bx-burst' ></i></span>
                            View Clothings
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <a class="carousel-control-prev" href="#introCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#introCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>    
