{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="mb-4">{% trans "Sign Out" %}</h2>
<hr>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-pink btn-sm rounded" href="{% url 'home' %}"><span class="icon"><i class='bx bxs-home bx-burst' ></i></span>Back to Home</a>
  <button class="btn btn-sm btn-pink" type="submit"><span class="icon"><i class='bx bx-log-out bx-burst' ></i></span>{% trans 'Sign Out' %}</button>
</form>


{% endblock %}