{% extends 'base.html' %}
{% load static %}

{% block page_header %}

{% include 'includes/product.nav.html' %}

{% include 'includes/mobile.nav.html' %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Contact Us</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <form class="" method="post" action="{% url 'contact' %}">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label class="mb-3" for="name">Full Name</label>
                <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required>
            </div>
        
            <div class="form-group mb-3">
                <label class="mb-3" for="email">Email Address</label>
                <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Enter email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>

            <div class="form-group mb-3">
                <label class="mb-3" for="textArea">Any comments, suggestions or queries about your orders?</label>
                <textarea name="subject" class="form-control" id="textArea" rows="3" placeholder="Your message here"></textarea>
              </div>
            <button type="submit" class="btn btn-pink mb-3"><span class="icon"><i class='bx bx-mail-send bx-burst' ></i></span>Submit</button>
        </form>
    </div>
</div>


{% include 'includes/footer.html' %}
{% endblock %}